@charset "UTF-8";

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

body {
    background-color: rgb(210, 142, 47);
}

.header {
    position: relative;
    width: 100vw;
    height: 12vh;
    color: black;
}

.header p {
    position: relative;
    margin: 0;
    width: 100%;
    color: white;
    font-size: 10vmin;
    line-height: 12vh;
    text-align: center;
}

.footer {
    position: absolute;
    top: 95vh;
    left: 0;
    width: 100vw;
    height: fit-content;
    color: black;
}

.footer .buttons {
    position: absolute;
    bottom: 4vmin;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translateX(-50%);
    color: black;
}

.footer .buttons button {
    display:inline-block;
    padding:0.6em 2.4em;
    margin:0 0.2em 0.2em 0;
    border:0.16em solid rgba(0,0,0,1);
    border-radius:4em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#000;
    text-align:center;
    transition: all 0.2s;
    background-color: white;
    cursor: pointer;
    font-size: 2.3vmin;
}

.footer .buttons button:hover {
    color:#FFF;
    background-color: firebrick;
}

.footer .disclaimer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2vmin;
}

.card {
    position: relative;
    background-image: url("/sfondo.png");
    background-size: cover;
    width: 80vw;
    height: 70vh;
    max-height: 100vw;
    margin: auto;
    color: black;
    border-radius: 2.5vw;
    border:0.16em solid rgba(0,0,0,1);
    /* background-image: url("/fantacitorio-twitter-2.jpeg"); */
    background-size: cover;
    z-index: 10;
}

.card .logo {
    position: absolute;
    top: 0;
    left: 3%;
    height: 15vmin;
    width: auto;
    border-radius: 2.5vw 0 0 0;
}

.totale {
    position: absolute;
    top: 0;
    left: 35%;
    height: 18vmin;
    line-height: 18vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    width: auto;
}

.totale::after {
    content: " FANFANI";
}

.too-much {
    color: red;
}

.input, .capitano {
    position: relative;
    height: 6vmin;
    width: 40%;
    left: 5%;
    border-radius: 3vmin;
    background-color: #FFF;
    line-height: 6vmin;
    font-size: 3.5vmin;
    text-align: center;
}

.input input, .capitano input {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: none;
    font-size: inherit;
    text-align: inherit;
}

.capitano {
    position: absolute;
    top: 7vmin;
    left: 60%;
    width: 34%;
    height: 7vmin;
    line-height: 7vmin;
    font-size: 6vmin;
    text-align: center;
}

.capitano::before {
    content: 'LEADER';
    position: absolute;
    top: -6.5vmin;
    left: 50%;
    width: fit-content;
    font-size: 2.5vmin;
    transform: translateX(-50%);
    font-weight: bold;
}

.name-input {
    position: absolute;
    left: 0;
    border-radius: 3vmin 0 0 3vmin !important;
    width: 75% !important;
}

.score-input {
    position: absolute;
    left: 76%;
    border-radius: 0 3vmin 3vmin 0 !important;
    width: 24% !important;
    background-color: whitesmoke;
    font-size: 2vmin !important;
}

.input-grid {
    position: absolute;
    top: 20vmin;
    left: 5%;
    width: 86%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24% 6%;
}

@media (orientation: portrait) {
    .input-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3vh 5vw;
    }
}

.input-grid > .input {
    width: 100%;
}

.card > .input:last-of-type {
    position: absolute;
    bottom: 5vmin;
    left: 65%;
    width: 31.5%;
    height: 6.5vmin;
    line-height: 7vmin;
    font-size: 5vmin;
    text-align: center;
}

.card > .input:last-of-type::before {
    content: 'NOME SQUADRA';
    position: absolute;
    top: -6.5vmin;
    left: 50%;
    width: fit-content;
    font-size: 2.5vmin;
    transform: translateX(-50%);
    font-weight: bold;
}

.inputoutput, canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    visibility: hidden;
}